body {
    color: rgb(0, 47, 255);
    background-color: #000000; 
    font-family: Comic Sans Ms;
    line-height:13px;
    font-size:14px;
    padding: 0px;
    margin: 0px;
    background-image:url(https://i.stack.imgur.com/LCCB6.jpg); 
    background-attachment: fixed;
    background-repeat: repeat;
    }

    #blogtitle{
        position:fixed;
        color:rgb(131, 153, 212);
        text-shadow:2px 3px 2px #000000;
        font-family:Comic Sans MS;
        font-size:75px;
        margin-top:70px;
        margin-left:50px;
        z-index:999;
    }

    #cr {
        display:flex;
        align-items:center;
        flex-direction:column;
    }

    td {
        width: 48px;
        height: 48px;
        background: rgb(0, 0, 0);
        padding: 0px;
    }